/* This file is for your main application css. */

@import "bootstrap";

h1 { text-align: center; }

.main {
  text-align: center;
}

.status {
  font-size: 20px;
}

.board {
  border: 2px solid black;
  width: 376px;
}

.tile {
  border: 2px solid black;
  height: 90px;
  font-size: 50px;
}

.tile-complete {
  background-color: #CCFFCC;
}

.tile-active {
  background-color: #FFCCCC;
}

.tile-hidden {
  background-color: #EEEEFF;
}
